<ion-header [translucent]="true">
  <ion-toolbar class="new-background-color">
    <ion-searchbar></ion-searchbar>
    <ion-icon slot="end"name="bag-handle-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-card>
    <div class="caja">
      <img src="https://ossfitness.com/fotos/2021/05/Rack-bronson-X1-Back-Lunges.jpg">
      <h1>Ligas estaticas para hacer ejercicio <br> <b>$399.00</b> </h1>
    </div>
  </ion-card>

  <div class="otros">
    <h3>Otros aparato para en casa</h3>
  </div>

  <ion-slides>
    <ion-slide>
      <div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbPVDEz54y78JTEFPnzVt1HFVH1BznBjV6Gg&usqp=CAU">
        <h2>Bicicleta Estatica</h2>
        <p>$5400.00</p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUlD3PQM5tCD_nyeSyc07e6rHGiugEyYiMfw&usqp=CAU" >
      <h2>Kid accesorios mujer</h2>
      <p>$150.48</p>
    </ion-slide>

    <ion-slide>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUh7CHUuDxVR2tYKyv8TE02VCO6olUK3T8sQ&usqp=CAU">
      <h2>Mancuernas</h2>
      <p>$1200</p>
    </ion-slide>

    <ion-slide>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLaRL-rYL88UHjzPfjnLxgiXcbW9MlwsoWIw&usqp=CAU" >
      <h2>Tapetes</h2>
      <p>$699.99</p>
    </ion-slide>
  </ion-slides>

  <div class="line"></div>

  <ion-card>
    <div>
      <img src="https://cdn.pixabay.com/photo/2021/02/03/11/32/gym-5977600__340.jpg" alt="">
      <h1>Bicicletas electricas <br> <b>$5000.00</b> </h1>
    </div>
  </ion-card>

  <ion-card>
    <div>
      <img src="https://cdn.pixabay.com/photo/2015/01/08/12/56/gym-592899__340.jpg" alt="">
      <h1>Barras con discos <br> <b>$1800.00</b> </h1>
    </div>
  </ion-card>

  <ion-card>
    <div>
      <img src="https://media.istockphoto.com/photos/unrecognizable-female-athlete-running-on-a-treadmill-picture-id1213287176?b=1&k=20&m=1213287176&s=170667a&w=0&h=ol7PxqtDEoyiboWddaL2vn_OCetsuZOiTteEQAMG-JU=" alt="">
      <h1>Caminadoras electricas <br> <b>$9800.00</b> </h1>
    </div>
  </ion-card>

  
  
</ion-content>


